server/data/local_db/workflows.json
[
  {
    "id": "a7d5a31d-593b-45a2-a19c-1cbe9924a76f",
    "created_at": "2026-06-25T14:31:36.726Z",
    "updated_at": "2026-06-25T14:31:41.477Z",
    "owner_id": "526ee973-0cdc-4d22-bc06-280c532d31fe",
    "name": "Weekly LinkedIn Profile Views",
    "description": "Create a complete n8n workflow for this spec:\nTrigger: Cron (Event: Weekly Schedule, Source/Sheet: undefined, Details: Every week)\nAction: LinkedIn (Action: Fetch Profile Views, Target/Channel: https://www.linkedin.com/in/siddhikurne/, Details: Plain text)",
    "workflow_spec": {
      "trigger": {
        "service": "Cron",
        "event": "Weekly Schedule",
        "details": "Every week"
      },
      "action": {
        "service": "LinkedIn",
        "action": "Fetch Profile Views",
        "channel": "https://www.linkedin.com/in/siddhikurne/",
        "details": "Plain text"
      }
    },
    "workflow_json": {
      "name": "Weekly LinkedIn Profile Views",
      "nodes": [
        {
          "id": "node-1",
          "name": "Cron Trigger",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1,
          "position": [
            250,
            300
          ],
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "cronExpression",
                  "expression": "0 0 * * 0"
                }
              ]
            }
          },
          "credentials": {}
        },
        {
          "id": "node-2",
          "name": "HTTP Request",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.1,
          "position": [
            500,
            300
          ],
          "parameters": {
            "url": "https://www.linkedin.com/in/siddhikurne/",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "User-Agent",
                  "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.3"
                }
              ]
            },
            "options": {}
          },
          "credentials": {}
        },
        {
          "id": "node-3",
          "name": "Set",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3,
          "position": [
            750,
            300
          ],
          "parameters": {
            "fields": {
              "values": [
                {
                  "name": "profileViews",
                  "type": "string",
                  "value": "={{ Object.values($json.body).filter(item => item.type === 'PROFILE_VIEW')[0]?.count }}"
                }
              ]
            },
            "options": {}
          },
          "credentials": {}
        }
      ],
      "connections": {
        "Cron Trigger": {
          "main": [
            [
              {
                "node": "HTTP Request",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HTTP Request": {
          "main": [
            [
              {
                "node": "Set",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1"
      }
    },
    "status": "active",
    "is_active": true,
    "deployment_error": null,
    "n8n_workflow_id": "D9zMqq9E8ULRUSv7"
  },
  {
    "id": "1b018308-73c0-4bc5-b558-3e0e3957e497",
    "created_at": "2026-06-25T15:02:48.306Z",
    "updated_at": "2026-06-25T15:02:49.676Z",
    "owner_id": "526ee973-0cdc-4d22-bc06-280c532d31fe",
    "name": "Weekly LinkedIn Profile Views",
    "description": "Create a complete n8n workflow for this spec:\nTrigger: Cron (Event: Weekly Schedule, Source/Sheet: undefined, Details: Every week)\nAction: LinkedIn (Action: Fetch Profile Views, Target/Channel: https://www.linkedin.com/in/siddhikurne/, Details: Plain text)",
    "workflow_spec": {
      "trigger": {
        "service": "Cron",
        "event": "Weekly Schedule",
        "details": "Every week"
      },
      "action": {
        "service": "LinkedIn",
        "action": "Fetch Profile Views",
        "channel": "https://www.linkedin.com/in/siddhikurne/",
        "details": "Plain text"
      }
    },
    "workflow_json": {
      "name": "Weekly LinkedIn Profile Views",
      "nodes": [
        {
          "id": "node-1",
          "name": "Cron Trigger",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1,
          "position": [
            250,
            300
          ],
          "parameters": {
            "cron": "0 0 * * 0",
            "immediately": false
          },
          "credentials": {}
        },
        {
          "id": "node-2",
          "name": "HTTP Request",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 1,
          "position": [
            500,
            300
          ],
          "parameters": {
            "url": "https://www.linkedin.com/in/siddhikurne/",
            "options": {
              "headers": {
                "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.3"
              }
            },
            "responseFormat": "string"
          },
          "credentials": {}
        },
        {
          "id": "node-3",
          "name": "Set",
          "type": "n8n-nodes-base.set",
          "typeVersion": 1,
          "position": [
            750,
            300
          ],
          "parameters": {
            "values": {
              "profileViews": "={{$node[\"HTTP Request\"].json}}",
              "text": "Profile Views: "
            },
            "options": {}
          },
          "credentials": {}
        }
      ],
      "connections": {
        "Cron Trigger": {
          "main": [
            "HTTP Request"
          ]
        },
        "HTTP Request": {
          "main": [
            "Set"
          ]
        }
      },
      "settings": {
        "executionOrder": "v1"
      }
    },
    "status": "active",
    "is_active": true,
    "deployment_error": null,
    "n8n_workflow_id": "2zeEooNZqphEX947"
  },
  {
    "id": "ce925877-da79-4527-9540-0d59ecd9452c",
    "created_at": "2026-06-25T15:15:23.515Z",
    "updated_at": "2026-06-25T15:15:24.874Z",
    "owner_id": "526ee973-0cdc-4d22-bc06-280c532d31fe",
    "name": "Weekly LinkedIn Profile Views",
    "description": "Create a complete n8n workflow for this spec:\nTrigger: Cron (Event: Weekly Schedule, Source/Sheet: undefined, Details: Every week)\nAction: LinkedIn (Action: Fetch Profile Views, Target/Channel: https://www.linkedin.com/in/siddhikurne/, Details: Plain text)",
    "workflow_spec": {
      "trigger": {
        "service": "Cron",
        "event": "Weekly Schedule",
        "details": "Every week"
      },
      "action": {
        "service": "LinkedIn",
        "action": "Fetch Profile Views",
        "channel": "https://www.linkedin.com/in/siddhikurne/",
        "details": "Plain text"
      }
    },
    "workflow_json": {
      "name": "Weekly LinkedIn Profile Views",
      "nodes": [
        {
          "id": "node-1",
          "name": "Cron Trigger",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1,
          "position": [
            250,
            300
          ],
          "parameters": {
            "cron": "0 0 * * 0",
            "immediately": false
          },
          "credentials": {}
        },
        {
          "id": "node-2",
          "name": "HTTP Request",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 1,
          "position": [
            500,
            300
          ],
          "parameters": {
            "url": "https://www.linkedin.com/in/siddhikurne/",
            "options": {
              "headers": {
                "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.3"
              }
            }
          },
          "credentials": {}
        },
        {
          "id": "node-3",
          "name": "Set",
          "type": "n8n-nodes-base.set",
          "typeVersion": 1,
          "position": [
            750,
            300
          ],
          "parameters": {
            "values": {
              "profileViews": "={{$node[\"HTTP Request\"].data}}",
              "text": "Profile Views: "
            },
            "options": {
              "keepOnlySet": true
            }
          },
          "credentials": {}
        }
      ],
      "connections": {
        "Cron Trigger": {
          "main": [
            "HTTP Request"
          ]
        },
        "HTTP Request": {
          "main": [
            "Set"
          ]
        }
      },
      "settings": {
        "executionOrder": "v1"
      }
    },
    "status": "active",
    "is_active": true,
    "deployment_error": null,
    "n8n_workflow_id": "scoTV6xFAxeB5C7J"
  }
]